[{leo_statistics,[{profile,false}]},
 {leo_redundant_manager,[{profile,false},
                         {log_dir_ring,"./log/ring"},
                         {log_dir_member,"./log/ring"},
                         {notify_mf,[leo_manager_api,notify]},
                         {sync_mf,[leo_manager_api,synchronize]}]},
 {leo_mq,[{backend_db,bitcask},{profile,false}]},
 {leo_logger,[{profile,false}]},
 {leo_backend_db,[{profile,false}]},
 {leo_rpc,[{connection_buffer_size,16},
           {connection_pool_size,16},
           {listen_timeout,5000},
           {listen_port,13076},
           {num_of_acceptors,16},
           {node,'manager_1@121.134.178.247:13076'}]},
 {leo_manager,[{snmp_agent,"./snmp/snmpa_manager_1/LEO-MANAGER"},
               {queue_dir,"./work/queue"},
               {log_dir,"./log/erlang"},
               {log_level,1},
               {num_of_histories,200},
               {num_of_acceptors_json,16},
               {num_of_acceptors_cui,3},
               {port_json,10020},
               {port_cui,10010},
               {manager_mode,slave},
               {system_version,"1.2.22"},
               {manager_partners,['manager_0@121.134.178.246']},
               {log_appender,[{file,[{path,"./log/app"}]}]}]},
 {mnesia,[{dc_dump_limit,40},
          {dump_log_write_threshold,50000},
          {dir,"./work/mnesia/121.134.178.247"}]},
 {sasl,[{error_logger_mf_maxfiles,5},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_dir,"./log/sasl"},
        {errlog_type,error},
        {sasl_error_logger,{file,"./log/sasl/sasl-error.log"}}]}].
